# If you are running Ollama on a different host or port, create a .env file in the root of your project and enter the IP address and port of your Ollama instance like this:
OLLAMA_BASE_URL=http://<IP>:11434